
{% extends "base.html" %} 

{% block title %}Car Detail{% endblock title %}

{% block content %}
<div class="row">

	<div class="card">

	<h1>
		{{car.make}} - {{car.model}}
		<small>
			{{car.year}}
		</small>
	</h1>

	</div> <!-- end of card -->

	<div class="img-card">
	<img  class="img_fluid" src="{{car.photo.url}}" alt="cool!">
</div> <!-- end of img-card -->


	<a href="{% url 'car-update' car.id %}">
		<button type="button" class="btn btn-outline-warning">Update</button>
	</a>

	<a href="{% url 'car-delete' car.id %}" >
		<button type="button" class="btn btn-outline-danger">Delete</button>
	</a>

</div> <!-- end of row -->
{% endblock content %}
